body {
    font-family: Arial, sans-serif;
    background-image: url('background.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
    height: 100vh; /* Full height to center content */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Space between title and list */
}

.container {
    text-align: center;
    flex-grow: 1; /* Allow the container to grow */
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-top: 7%; /* Center the title vertically */
}

.members-list {
    list-style-type: none;
    padding: 0;
    position: absolute; /* Position the list */
    bottom: 20px; /* Adjust distance from bottom */
    left: 20px; /* Adjust distance from left */
    color: #000000;
    text-align: left;
}

.members-list li {
    font-size: 1.2em;
    margin: 5px 0;
}

#instance-list {
    right: 20px; /* Position from the right */
    bottom: 20px; /* Position from the bottom */
    background-color: transparent;
    max-height: 500px; /* Optional limit height */
    overflow-y: auto; /* Scrollable if too many instances */
    list-style-type: none;
    color: black; /* Set text color to black */
}

#instance-list li {
    margin: 5px 0; /* Space between items */
}